@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

@font-face {
    font-family: "DevilDemi";
    src: url("../font/DevilDemi.ttf");
}

@font-face {
    font-family: "DevilDemi";
    src: url("../font/DevilDemi.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .5s;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: black;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 75px;
    background: #1A1A1A;
}

.sidebarContent {
    position: relative;
}

.sidebar .logo {
    margin-top: 25px;
    font-family: "DevilDemi";
    font-size: 35px;
    cursor: pointer;
    transition: all 1s;
    transform-origin: center;
    text-align: center;
}

.sidebar .logo:hover {
    transform: rotate(360deg);
    transform-origin: center;
}

.sidebar .links {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
}

.sidebar .links a {
    text-decoration: none;
}

.sidebar .links .link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px 0;
    height: 50px;
    width: 50px;
    background: #1A1A1A;
    border: 2px solid #292929;
    color: rgba(255, 255, 255, .4);
    font-size: 19px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.sidebar .links .link:hover {
    border: 2px solid rgba(255, 255, 255, .4);
    transform: translateY(-5px);
}

.sidebar .links .active {
    color: white;
    border: 2px solid white;
}

.sidebar .version {
    padding-top: 10px;
    margin: auto auto 25px;
    color: rgba(255, 255, 255, .4);
    font-size: 11px;
    font-weight: 800;
}

main #home {
    position: relative;
    height: 100vh;
    margin-left: 75px;
}

#home .intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 800;
    z-index: 999;
}

#home .intro .introTitle h1 {
    display: block;
    font-family: 'Butler';
    font-weight: 900;
    font-size: 90px;
}


#home .introText {
    padding: 20px 0 45px 0;
    color: white
}

#home .introBtn a,
.projectLink {
    padding: 15px 45px;
    width: 200px;
    background: #1A1A1A;
    border: 2px solid #292929;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#home .introBtn a:hover {
    border: 2px solid white;
}

#home .introBtn a i {
    padding-left: 10px;
}

#home .introBtn:hover {
    transform: translateY(-10px);
}

#home .logo {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%) rotate(-45deg);
    font-family: "DevilDemi";
    font-size: 620px;
    color: rgba(255, 255, 255, .125);
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);

}

.sectionTitle {
    font-size: 45px;
    font-family: 'Butler';
    font-weight: 900;
    text-align: center;
    padding: 40px 0;
    margin-left: 75px;
}

.bioFlex {
    display: flex;
    justify-content: center;
    width: 900px;
    margin: 0 auto 80px auto;
    padding-left: 75px;
}

.bioFlex .bioIntro {
    display: inline-block;
    width: 650px;
    height: auto;
    margin-right: 20px;

}

.bioIntro p {
    padding-bottom: 10px;
}

.bioFlex .bioSkills {
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 250px;
    height: 200px;
}


.bioSkills label {
    display: block;
    color: #6d6d6d;
    font-weight: 800;
    font-size: 13px;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.bioSkills p {
    padding-bottom: 15px;
}

.bioIntro p:last-child,
.bioSkills p:last-child {
    padding-bottom: 0px;
}

.bioFlex .bioIntro,
.bioFlex .bioSkills,
.kiju,
.pws {
    padding: 20px;
    background: #1A1A1A;
    border: 2px solid #292929;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.myProjects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 900px;
    margin-bottom: 80px;
    padding-left: 75px;
}

.myProjects .kiju {
    width: 100%;
    margin-bottom: 18px;
    background: linear-gradient(45deg, #a13bf3, #4e03c4, #4071d5);
    background-size: auto;
    background-size: 600% 600%;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

.myProjects .projectDesc {
    padding-bottom: 25px;
}

.myProjects .projectFeatures {
    display: flex;
    flex-wrap: wrap;
    margin-right: 20%;
}

.pws .projectFeatures {
    margin-right: 0;
    justify-content: center;
}

.projectFeatures .projectFeature {
    text-align: center;
    margin: 10px 10px 0;
}

.projectFeature i {
    font-size: 30px;
}

.projectFeature span {
    width: 175px !important;
}

.kiju,
.pws {
    position: relative;
    border: 2px solid rgba(255, 255, 255, .125);
}

.kiju img {
    display: block;
    width: 200px;
    margin: auto;
}

.kiju span,
.pws span {
    display: block;
    margin: auto;
    text-align: center;
    width: auto;
    padding: 20px 0 14px;
}

.kiju .kijuBtn,
.pws .pwsBtn {
    position: absolute;
    bottom: 11px;
    right: 11px;
    padding: 10px 15px;
    background: #1A1A1A;
    border: 2px solid #292929;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.kiju .kijuBtn:hover,
.pws .pwsBtn:hover {
    border: 2px solid white;
    transform: translateY(-10px);
}

.kiju .kijuBtn i,
.pws .pwsBtn i {
    padding-left: 7px;
}

.myProjects .pws {
    width: 100%;
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

.pws img {
    display: block;
    margin: auto;
    width: 180px;
}

footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 25px 0;
    width: 500px;
    margin-left: 75px;
    border-top: 2px solid #292929;
}

footer .footerLogo {
    font-family: "DevilDemi";
    font-size: 80px;
    cursor: pointer;
    text-align: center;
    padding-bottom: 10px;
}

footer span {
    display: block;
    text-align: center;
    color: rgba(255, 255, 255, .4);
    font-size: 12px;
}

footer span q {
    font-style: italic;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@media screen and (max-height: 800px) {
    #home .logo {
        font-size: 500px;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -60%) rotate(-45deg);
    }
}

@media screen and (max-height: 750px) {
    #home .logo {
        font-size: 350px;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -65%) rotate(-45deg);
    }
}

@media screen and (max-height: 600px) {
    #home .logo {
        font-size: 300px;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -65%) rotate(-45deg);
    }
}

@media screen and (max-width: 970px) {

    .bioFlex,
    .myProjects {
        width: 700px;
    }

    .bioFlex .bioSkills {
        height: 250px;
    }

    #home .logo {
        font-size: 450px;
    }

    .myProjects .kiju {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 780px) {

    .bioFlex,
    .myProjects {
        width: 600px;
    }

    #home .intro .introTitle h1 {
        font-size: 70px;
    }

    #home .logo {
        font-size: 400px;
    }
}

@media screen and (max-width: 660px) {

    main #home,
    .sectionTitle,
    footer {
        margin-left: 0;
    }

    .bioFlex,
    .myProjects {
        padding-left: 0;
    }

    .sidebar {
        position: fixed;
        left: 0;
        top: 0;
        height: 70px;
        width: 100%;
        padding: 10px;
        background: rgba(26, 26, 26, .8);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        z-index: 9999;
    }

    .sidebar,
    .sidebar .links {
        flex-direction: row;
        align-items: center;
    }

    .sidebar .links {
        justify-content: end;
        align-items: center;
        width: 100%;
        padding-right: 15px;
    }

    .sidebar .links .link {
        margin-bottom: 0;
    }

    .sidebar .links a {
        margin-right: 20px;
    }

    .sidebar .links a:last-child {
        margin-right: 0;
    }

    .sidebar .logo {
        margin-top: 0;
        padding-left: 15px;
        font-size: 40px;
        height: 38px;
    }

    .version {
        display: none;
    }
}

@media screen and (max-width: 640px) {

    .bioFlex,
    .myProjects {
        width: 500px;
    }

    #home .intro .introTitle h1 {
        font-size: 60px;
    }

    #home .logo {
        font-size: 350px;
    }

    .sectionTitle {
        font-size: 35px;
    }
}

@media screen and (max-width: 540px) {

    .bioFlex,
    .myProjects,
    footer {
        width: 400px;
    }

    #home .intro .introTitle h1 {
        font-size: 60px;
    }

    #home .logo {
        font-size: 350px;
    }

    .sectionTitle {
        font-size: 35px;
        width: 300px;
        text-align: center;
        margin: auto;
    }

    .bioFlex .bioSkills {
        height: 275px;
    }

    .kiju img,
    .gsc img {
        width: 150px;
    }

    .bioFlex .bioIntro {
        margin-right: 10px;
    }
}

@media screen and (max-width: 460px) {

    .bioFlex,
    .myProjects,
    footer {
        width: 350px;
    }

    #home .intro .introTitle h1 {
        font-size: 50px;
    }

    #home .logo {
        top: 60%;
        font-size: 270px;
    }

    .sectionTitle {
        font-size: 30px;
    }

    .bioFlex .bioSkills {

        height: 275px;
    }

    .kiju img,
    .gsc img,
    .pws img {
        width: 120px;
    }

    .myProjects .kiju {
        margin-bottom: 7px;
    }
}

@media screen and (max-width: 400px) {

    .bioFlex,
    .myProjects,
    footer {
        width: 320px;
    }

    #home .intro .introTitle h1 {
        font-size: 45px;
        padding: 5px 0 10px 0;
    }

    #home .intro .introTitle h2 {
        font-size: 19px;
    }

    .gsc img,
    .pws img {
        width: 100px;
    }

    #home .introBtn a,
    .projectLink {
        padding: 15px 30px;
    }

    #home .logo {
        font-size: 230px;
    }
}