@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

@font-face {
	font-family: "DevilDemi";
	src: url("../font/DevilDemi.ttf");
}

:root {
	--main-bg-color: #1A1A1A;
	--second-bg-color: #292929;
	--main-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	--main-font: 'Montserrat', sans-serif;
	--logo-font: "DevilDemi";
	--title-font: 'Butler';
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all .5s;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--main-font);
	color: white;
	background: black;
}

.sidebar {
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	width: 75px;
	background: var(--main-bg-color);
}

.sidebarContent {
	position: relative;
}

.sidebar .logo {
	margin-top: 25px;
	font-family: var(--logo-font);
	font-size: 35px;
	cursor: pointer;
	transition: all 1s;
	transform-origin: center;
	text-align: center;
}

.sidebar .logo:hover {
	transform: rotate(360deg);
	transform-origin: center;
}

.sidebar .links {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	cursor: pointer;
}

.sidebar .links a {
	text-decoration: none;
}

.sidebar .links .link {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	padding: 10px 0;
	height: 50px;
	width: 50px;
	background: var(--main-bg-color);
	color: white;
	font-size: 19px;
	border: 2px solid var(--second-bg-color);
	border-radius: 15px;
	box-shadow: var(--main-box-shadow);
	transition: all .3s;
}

.sidebar .links .link.active {
	background: white;
	color: var(--main-bg-color);
}

.sidebar .links .link:hover {
	transform: scale(1.03);
}

.sidebar .links .link:focus i,
.sidebar .links .link:active i {
	font-size: 15px;
}

.sidebar .version {
	padding-top: 10px;
	margin: auto auto 25px;
	color: rgba(255, 255, 255, .4);
	font-size: 11px;
	font-weight: 800;
}

main {
	margin-left: 75px;
}

main #home {
	position: relative;
	height: 100vh;
}

#home .intro {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-weight: 800;
	z-index: 999;
}

#home .intro .intro-title h1 {
	display: block;
	font-family: var(--title-font);
	font-weight: 900;
	font-size: 90px;
}


#home .intro-desc {
	padding: 20px 0 45px 0;
	color: white
}

#home .intro-button a,
.projectLink {
	padding: 15px 45px;
	width: 200px;
	background: var(--main-bg-color);
	color: white;
	font-weight: 700;
	border: 2px solid var(--second-bg-color);
	border-radius: 5px;
	text-decoration: none;
	box-shadow: var(--main-box-shadow)
}

#home .intro-button a:hover {
	border: 2px solid white;
}

#home .intro-button a i {
	padding-left: 10px;
}

#home .intro-button:hover {
	transform: translateY(-10px);
}

#home .logo {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -55%) rotate(-45deg);
	font-family: var(--logo-font);
	font-size: 620px;
	color: rgba(255, 255, 255, .125);
	text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);

}

.section-title {
	font-size: 45px;
	font-family: 'Butler';
	font-weight: 900;
	text-align: center;
	padding: 40px 0;
}

.bio-content {
	display: flex;
	justify-content: center;
	width: 900px;
	margin: 0 auto 80px auto;
}

.bio-content .bio-intro {
	display: inline-block;
	width: 650px;
	height: auto;
	margin-right: 20px;

}

.bio-intro p {
	padding-bottom: 10px;
}

.bio-intro ul {
	padding: 7px 10px 0;
}

.bio-content .bio-infos {
	display: inline-flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	width: 250px;
	height: 200px;
}


.bio-infos label {
	display: block;
	color: #6d6d6d;
	font-weight: 800;
	font-size: 13px;
	text-transform: uppercase;
	padding-bottom: 5px;
}

.bio-infos p {
	padding-bottom: 15px;
}

.bio-intro p:last-child,
.bio-infos p:last-child {
	padding-bottom: 0px;
}

.bio-content .bio-intro,
.bio-content .bio-infos,
.project {
	padding: 20px;
	background: var(--main-bg-color);
	border: 2px solid var(--second-bg-color);
	border-radius: 10px;
	color: white;
	font-weight: 700;
	box-shadow: var(--main-box-shadow);
}

.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
	width: 900px;
	margin-bottom: 40px;
}

.project {
	position: relative;
	margin-bottom: 18px;
	width: 100%;
}

.projects .project.kiju {
	background: linear-gradient(45deg, #a13bf3, #4e03c4, #4071d5);
	background-size: auto;
	background-size: 600% 600%;
	-webkit-animation: GradientBackground 10s ease infinite;
	-moz-animation: GradientBackground 10s ease infinite;
	animation: GradientBackground 10s ease infinite;
}

.project img {
	display: block;
	width: 70px;
	margin: auto;
}

.project span {
	display: block;
	margin: auto;
	text-align: center;
	width: auto;
	padding: 20px 0 14px;
}

.projects .project-desc {
	margin-bottom: 30px;
}

.projects .project-features {
	display: flex;
	flex-wrap: wrap;
}

.project-features .project-feature {
	text-align: center;
	margin: 10px 10px 0;
}

.project-feature i {
	font-size: 40px;
}

.project-feature span {
	width: 175px !important;
}

.project .project-redirect {
	position: absolute;
	bottom: 11px;
	right: 11px;
	padding: 10px 15px;
	background: var(--main-bg-color);
	border: 2px solid var(--second-bg-color);
	color: white;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
	box-shadow: var(--main-box-shadow);
}

.project .project-redirect:hover {
	border: 2px solid white;
	transform: translateY(-10px);
}

.project .project-redirect i {
	padding-left: 7px;
}

footer {
	margin: auto;
	padding: 25px 0;
	width: 500px;
	border-top: 2px solid var(--second-bg-color);
}

footer .footer-logo {
	cursor: pointer;
	text-align: center;
	padding-bottom: 10px;
}

footer .footer-logo img {
	width: 220px;
}

footer .footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-bottom: 15px;
}

footer .footer-links .footer-link {
    margin-right: 20px;
}

footer .footer-links .footer-link a {
    font-size: 25px;
    color: white;
}

footer .footer-links .footer-link:last-child {
    margin-right: 0;
}

footer span {
	display: block;
	text-align: center;
	color: rgba(255, 255, 255, .4);
	font-size: 12px;
}

footer span q {
	font-style: italic;
}

@-webkit-keyframes GradientBackground {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes GradientBackground {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}

@keyframes GradientBackground {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}

@media screen and (max-height: 800px) {
	#home .logo {
		font-size: 500px;
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -60%) rotate(-45deg);
	}
}

@media screen and (max-height: 750px) {
	#home .logo {
		font-size: 350px;
		position: absolute;
		top: 65%;
		left: 50%;
		transform: translate(-50%, -65%) rotate(-45deg);
	}
}

@media screen and (max-height: 600px) {
	#home .logo {
		font-size: 300px;
		position: absolute;
		top: 65%;
		left: 50%;
		transform: translate(-50%, -65%) rotate(-45deg);
	}
}

@media screen and (max-width: 1055px) {

	.bio-content,
	.projects {
		width: 700px;
	}

	.bio-content .bio-infos {
		height: 250px;
	}
}

@media screen and (max-width: 970px) {
	#home .intro .intro-title h1 {
		font-size: 80px;
	}
}

@media screen and (max-width: 780px) {

	.bio-content,
	.projects {
		width: 550px;
	}

	#home .intro .intro-title h1 {
		font-size: 70px;
	}

	#home .logo {
		font-size: 400px;
	}
}

@media screen and (max-width: 660px) {

	main {
		margin-left: 0;
	}

	.sidebar {
		position: fixed;
		left: 0;
		top: 0;
		height: 70px;
		width: 100%;
		padding: 10px;
		background: rgba(26, 26, 26, .8);
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		z-index: 9999;
	}

	.sidebar,
	.sidebar .links {
		flex-direction: row;
		align-items: center;
	}

	.sidebar .links {
		justify-content: end;
		align-items: center;
		width: 100%;
		padding-right: 15px;
	}

	.sidebar .links .link {
		margin-bottom: 0;
	}

	.sidebar .links a {
		margin-right: 20px;
	}

	.sidebar .links a:last-child {
		margin-right: 0;
	}

	.sidebar .logo {
        margin-top: 9px;
		padding-left: 15px;
		font-size: 40px;
		height: 38px;
	}

	.version {
		display: none;
	}
}

@media screen and (max-width: 640px) {

	.bio-content,
	.projects {
		width: 500px;
	}

	#home .intro .intro-title h1 {
		font-size: 60px;
	}

	#home .logo {
		font-size: 350px;
	}

	.section-title {
		font-size: 35px;
	}
}

@media screen and (max-width: 540px) {

	.bio-content,
	.projects,
	footer {
		width: 400px;
	}

	#home .intro .intro-title h1 {
		font-size: 60px;
	}

	#home .logo {
		font-size: 300px;
	}

	.section-title {
		font-size: 35px;
		width: 300px;
		text-align: center;
		margin: auto;
	}

	.bio-content .bio-infos {
		height: 275px;
	}

	.bio-content .bio-intro {
		margin-right: 10px;
	}
}

@media screen and (max-width: 460px) {

	.bio-content,
	.projects,
	footer {
		width: 350px;
	}

	#home .intro .intro-title h1 {
		font-size: 50px;
	}

	#home .logo {
		top: 60%;
		font-size: 270px;
	}

	.section-title {
		font-size: 30px;
	}

	.bio-content .bio-intro {
		margin-right: 0;
	}

	.bio-content .bio-infos {
		display: none;
	}
}

@media screen and (max-width: 400px) {

	.bio-content,
	.projects,
	footer {
		width: 320px !important;
	}

	#home .intro .intro-title h1 {
		padding: 5px 0 10px 0;
	}

	#home .intro .intro-title h2 {
		font-size: 19px;
	}

	#home .intro-button a {
		padding: 15px 30px;
	}

	#home .logo {
		font-size: 230px;
	}
}